<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8" >
        <meta name="description" content="Homepage of MMA Round Judge">
        <meta name="author" content="Dylan Jude Bautista">
        <meta name="newport" content="width=device width, initial scale=1.0">
        <title>MMA Round Judge</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="{{url_for('static', filename='idx.js')}}"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

         <!--Lato font Import-->
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@100&family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
 
    </head>
    <body>
        <div class="topbar">
           <p>UFC Round Judge</p>
          <p style="font-size: 2vw; line-height: 0%;font-family:'UFCfonthollow'; padding: 5px;">by Dylan Bautista</p>
        </div>
        <div class="topbar-nav">
            <span id="roundJudge">Round Judge</span>
            <span id="fightScorer">Fight Scorer</span>
         </div>
        <form method="post">
            <div id="center_rect">
                <div class="data" id="opp1">
                    <header class="opptitle"><b>Opponent 1:</b></header>
                    <div class="data-row">
                        <p style="display: inline-block;">Significant Strikes Attempted</p>
                        <input type="number" name="sigAtt1" id="sigAtt1" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p> Significant Strikes Landed</p>
                        <input type="number" name="sigLand1" id="sigLand1" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Knockdowns</p>
                        <input type="number" name="KD1" id="KD1" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Takedowns</p>
                        <input type="number" name="TD1" id ="TD1" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Submission Attempts</p>
                        <input type="number" name="sub1" id="sub1" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Control Time (s)</p>
                        <input type="number" name="ctrl1" id="ctrl1"  required min ='0' max="300">
                    </div>
                    <div class="data-row">
                        <p>Significant Head Strikes Landed</p>
                        <input type="number" name="head1" id="head1" required min ='0' >
                    </div>
                </div>
                <div class="middle-section">
                    {%with labels = get_flashed_messages(category_filter=["label"])%}
                    {% if labels %}
                    {%for message in labels%}
                        <header id="results"><b> {{message}}</b></header>
                    {%endfor%}
                    {% endif %}
                    {% endwith %}
                    <input type="submit" value="Submit" id="submit-button">
                    <div class="radio-toolbar-3">
                        <input type="radio" id="Judgeid" name="modelSel" value="Judge" checked="checked">
                        <label for="Judgeid">Judge-trained <br>Model</label>
                        <input type="radio" id="Fansid" name="modelSel" value="Fans">
                        <label for="Fansid">Judge/Fans-trained <br>Model</label>
                    </div>
                    <div id="explanation-div">
                        <p id="modelJudge" class="desc"> This option uses a neural network model trained with the judging scores for all past scored UFC rounds. It is trained to predict up to an 80 percent accuracy what a judge is most likely to score, not what is necessarily correct.</p>
                        <p id="modelFans" class="desc">This option uses a neural network model trained with the judging scores for all past scored UFC rounds, with weights linked to the agreement with fan scores on mmadecisions.com site. Therefore, this prediction should be subjectively 'more correct', and thus matches only up to a 77 percent of what a judge is likely to score.</p>        
                    </div>
                    <div id="probabilities">
                        
                        <div class="probabilityRow">
                            {%with tie = get_flashed_messages(category_filter=["10-10"])%}
                            {% if tie %}
                            {%for message in tie%}
                            <div class="pair">
                                <div class="prob">
                                    <b>10-10:</b><span id="prog1"> {{message}}%</span> 
                                </div>
                                <div class="outer-bar">
                                    <div id="progress1" class="bar"></div>
                                </div>
                            </div>
                            {%endfor%}
                            {% endif %}
                            {% endwith %}
                            {%with aOne = get_flashed_messages(category_filter=["10-9"])%}
                            {% if aOne %}
                            {%for message in aOne%}
                            <div class="pair">
                                <div class="prob">
                                    <b>10-9 A:</b><span id="prog2"> {{message}}%</span> 
                                </div>
                                <div class="outer-bar">
                                    <div id="progress2" class="bar"></div>
                                </div>
                            </div>
                            {%endfor%}
                            {% endif %}
                            {% endwith %}
                            {%with aTwo = get_flashed_messages(category_filter=["10-8"])%}
                            {% if aTwo %}
                            {%for message in aTwo%}
                            <div class="pair">
                                <div class="prob">
                                    <b>10-8 A:</b><span id="prog3"> {{message}}%</span> 
                                </div>
                                <div class="outer-bar">
                                    <div id="progress3" class="bar"></div>
                                </div>
                            </div>
                            {%endfor%}
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="probabilityRow">
                            {%with bOne = get_flashed_messages(category_filter=["9-10"])%}
                            {% if bOne %}
                            {%for message in bOne%}
                            <div class="pair">
                                <div class="prob">
                                    <b>9-10 B:</b><span id="prog4"> {{message}}%</span> 
                                </div>
                                <div class="outer-bar">
                                    <div id="progress4" class="bar"></div>
                                </div>
                            </div>
                            {%endfor%}
                            {% endif %}
                            {% endwith %}
                            {%with bTwo = get_flashed_messages(category_filter=["8-10"])%}
                            {% if bTwo %}
                            {%for message in bTwo%}
                            <div class="pair">
                                <div class="prob">
                                    <b>8-10 B:</b><span id="prog5"> {{message}}%</span> 
                                </div>
                                <div class="outer-bar">
                                    <div id="progress5" class="bar"></div>
                                </div>
                            </div>
                            {%endfor%}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="data" id="opp2">
                    <header class="opptitle"><b>Opponent 2:</b></header>
                    <div class="data-row">
                        <p>Significant Strikes Attempted</p>
                        <input type="number" name="sigAtt2" id="sigAtt2" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Significant Strikes Landed</p>
                        <input type="number" name="sigLand2" id="sigLand2" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Knockdowns</p>
                        <input type="number" name="KD2" id="KD2" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Takedowns</p>
                        <input type="number" name="TD2" id="TD2" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Submission Attempts</p>
                        <input type="number" name="sub2" id="sub2" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Control Time (s)</p>
                        <input type="number" name="ctrl2" id="ctrl2" required min ='0' max="300">
                    </div>
                    <div class="data-row">
                        <p>Significant Head Strikes Landed</p>
                        <input type="number" name="head2" id="head2" required min ='0'>
                    </div>
                </div>
            </div>
        </form>
        <div id="image-div">
            <img id="bottom-image" src="{{url_for('static', filename='Images/khabibSmoke.png')}}" alt="Image of Khabib Nurmagomedov"/>
        </div>      

    </body>
</html>