<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8" >
        <meta name="description" content="Homepage of MMA Round Judge">
        <meta name="author" content="Dylan Jude Bautista">
        <meta name="newport" content="width=device width, initial scale=1.0">
        <title>MMA Round Judge</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="{{url_for('static', filename='idx.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

         <!--Lato font Import-->
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@100&family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
 
    </head>
    <body>
        <div class="topbar">
           <p>UFC Fight Scorer</p>
          <p style="font-size: 2vw; line-height: 0%;font-family:'UFCfonthollow'; padding: 5px;">by Dylan Bautista</p>
        </div>
        <div id="sidebar">
            <img id="side-image" src="{{url_for('static', filename='Images/mcgregor.png')}}" alt="Image of Connor Mcgregor"/>
        </div>
        <div class="topbar-nav">
            <span id="roundJudge">Round Judge</span>
            <span id="fightScorer">Fight Scorer</span>
         </div>
        <form method="post">
            <div id="center_rect">
                <div class="data" id="opp1">
                    <header class="opptitle"><b>Select Your UFC Fight:</b></header>
                    <div class="options">
                        <label for="fight-list">Choose from historical UFC bouts:</label> <br>
                        <select name="fight-list" id="fight-list" placeholder="Pick a fight (Most Recent at top)..."> 
                        </select>
                    </div> 
                </div>
                <div class="middle-section">
                    {%with labels = get_flashed_messages(category_filter=["label"])%}
                    {% if labels %}
                    {%for message in labels%}
                        <header id="results"><b> {{message}}</b></header>
                    {%endfor%}
                    {% endif %}
                    {% endwith %}
                    <input type="submit" value="Submit" id="submit-button">
                    <div class="radio-toolbar-3">
                        <input type="radio" id="Judgeid" name="modelSel" value="Judge" checked="checked">
                        <label for="Judgeid">Judge-trained <br>Model</label>
                        <input type="radio" id="Fansid" name="modelSel" value="Fans">
                        <label for="Fansid">Judge/Fans-trained <br>Model</label>
                    </div>
                    <div id="explanation-div">
                        <p id="modelJudge" class="desc"> This option uses a neural network model trained with the judging scores for all past scored UFC rounds. It is trained to predict up to an 80 percent accuracy what a judge is most likely to score, not what is necessarily correct.</p>
                        <p id="modelFans" class="desc">This option uses a neural network model trained with the judging scores for all past scored UFC rounds, with weights linked to the agreement with fan scores on mmadecisions.com site. Therefore, this prediction should be subjectively 'more correct', and thus matches only up to a 77 percent of what a judge is likely to score.</p>        
                    </div>        
                </div>
                <div class="data" id="opp2">
                </div>
            </div>
        </form>
        <div id="image-div">
            <img id="bottom-image" src="{{url_for('static', filename='Images/khabibSmoke.png')}}" alt="Image of Khabib Nurmagomedov"/>
        </div>      

    </body>
</html>