<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8" >
        <meta name="description" content="Homepage of MMA Round Judge">
        <meta name="author" content="Dylan Jude Bautista">
        <meta name="newport" content="width=device width, initial scale=1.0">
        <title>MMA Round Judge</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/search.css')}}">
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="{{url_for('static', filename='idx.js')}}"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

         <!--Lato font Import-->
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Lato&family=League+Spartan:wght@100&family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
 
    </head>
    <body>
        <div class="topbar">
           <p>UFC Fight Scorer</p>
          <p style="font-size: 2vw; line-height: 0%;font-family:'UFCfonthollow'; padding: 5px;">by Dylan Bautista</p>
        </div>
        <div class="topbar-nav">
            <span id="roundJudge">Round Judge</span>
            <span id="fightScorer">Fight Scorer</span>
         </div>
        <form method="post">
            <div id="center_rect">
                <div class="data" id="opp1">
                    <header class="opptitle"><b>Select Your UFC Fight:</b></header>
                    <div class="options">
                        <label for="fight-list">Choose from historical UFC bouts:</label> <br>
                        <select name="fight-list" id="fight-list"> 
                            <option value="rigatoni">Rigatoni</option> 
                            <option value="dave">Dave</option> 
                            <option value="pumpernickel">Pumpernickel</option> 
                            <option value="reeses">Reeses</option> 
                        </select>
                    </div> 
                </div>
                <div class="middle-section">
                    {%with labels = get_flashed_messages(category_filter=["label"])%}
                    {% if labels %}
                    {%for message in labels%}
                        <header id="results"><b> {{message}}</b></header>
                    {%endfor%}
                    {% endif %}
                    {% endwith %}
                    <input type="submit" value="Submit" id="submit-button">
                    <div class="radio-toolbar-3">
                        <input type="radio" id="Judgeid" name="modelSel" value="Judge" checked="checked">
                        <label for="Judgeid">Judge-trained <br>Model</label>
                        <input type="radio" id="Fansid" name="modelSel" value="Fans">
                        <label for="Fansid">Judge/Fans-trained <br>Model</label>
                    </div>
                    <div id="explanation-div">
                        <p id="modelJudge" class="desc"> This option uses a neural network model trained with the judging scores for all past scored UFC rounds. It is trained to predict up to an 80 percent accuracy what a judge is most likely to score, not what is necessarily correct.</p>
                        <p id="modelFans" class="desc">This option uses a neural network model trained with the judging scores for all past scored UFC rounds, with weights linked to the agreement with fan scores on mmadecisions.com site. Therefore, this prediction should be subjectively 'more correct', and thus matches only up to a 76 percent of what a judge is likely to score.</p>        
                    </div>        
                </div>
                <div class="data" id="opp2">
                    <header class="opptitle"><b>Opponent 2:</b></header>
                    <div class="data-row">
                        <p>Significant Strikes Attempted</p>
                        <input type="number" name="sigAtt2" id="sigAtt2" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Significant Strikes Landed</p>
                        <input type="number" name="sigLand2" id="sigLand2" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Knockdowns</p>
                        <input type="number" name="KD2" id="KD2" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Takedowns</p>
                        <input type="number" name="TD2" id="TD2" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Submission Attempts</p>
                        <input type="number" name="sub2" id="sub2" required min ='0'>
                    </div>
                    <div class="data-row">
                        <p>Control Time (s)</p>
                        <input type="number" name="ctrl2" id="ctrl2" required min ='0' max="300">
                    </div>
                    <div class="data-row">
                        <p>Significant Head Strikes Landed</p>
                        <input type="number" name="head2" id="head2" required min ='0'>
                    </div>
                </div>
            </div>
        </form>
        <div id="image-div">
            <img id="bottom-image" src="{{url_for('static', filename='Images/khabibSmoke.png')}}" alt="Image of Khabib Nurmagomedov"/>
        </div>      

    </body>
</html>